<h2>Preferences</h2>

<p>Song Sort Order: <%= @preferences.song_sort_order%></p>
<p>Artist Sort Oder: <%= @preferences.artist_sort_order%></p>
<p><%= @preferences.song_sort_order%></p>
<p><%= @preferences.song_sort_order%></p>



<%= link_to "Edit Preferences", new_preference_path %>